*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html,body,#root,.app{
    width: 100%;
    height: 100%;
}

.page{
    width: 100%;
    display: flex;
    li{
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid #ccc;
        margin: 5px;
        &.active{
            border: 1px solid deepskyblue;
            color: deepskyblue;
        }
    }
}


.loading{
    width: 100%;
    line-height: 200px;
    text-align: center;
}
.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header{
        width: 100%;
        height: 50px;
        background: #000;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 20px;
        div{
            display: flex;
            li{
                padding: 20px;
            }
        }
    }
    .home-content{
        flex: 1;
        overflow: hidden;
        display: flex;
        .side-left{
            flex: 1;
            border-right: 1px solid #ccc;
            overflow: auto;
            h2{
                line-height: 50px;
                background: #eee;
                padding-left: 20px;
            }
            a{
                color: #000;
                width: 100%;
                border-bottom: 1px solid #ccc;
                display: block;
                line-height: 50px;
                text-align: center;
                &.active{
                    color: #fff;
                    background: deepskyblue;
                }
            }
        }
        .side-right{
            flex: 5;
            .side-right-header{
                width: 100%;
                height: 50px;
                background: #eee;
                padding: 0 20px;
                line-height: 50px;
            }
        }
    }
}
//add组件
.add{
    width: 96%;
    margin: 10px auto;
    border: 1px solid #ccc;
    li{
        width: 100%;
        border-bottom: 1px solid #eee;
        .title-content{
            width: 150px;
            display: inline-block;
            text-align: right;
            padding: 15px 10px 15px 0;
            border-right: 1px solid #eee;
        }
        input{
           margin: 0 10px;
           width: 400px;
           border-radius: 5px;
           line-height: 30px;
           outline: none;
           border:1px solid #ccc;
        }
        input[type='file']{
            border: none;
        }
        textarea,select{
            margin: 0 10px;
        }
        button{
            border: none;
            outline: none;
            padding: 5px 30px;
            margin: 5px 10px;
            border-radius: 8px;
        }
    }
  
}

//table
.table-header{
    width: 100%;
    padding: 20px;
}
table{
    width: 96%;
    border-collapse: collapse;
    margin:0 auto;
    tr{
        width: 100%;
        line-height: 50px;
        border-bottom: 1px solid deepskyblue;
        text-align: center;
    }
    button{
        border: none;
        outline: none;
        padding:3px 10px;
        background: #fff;
    }
}
