* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
}

.com {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.com .header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.com .header.light {
  background: darkorange;
  color: #fff;
}

.com .header .ret {
  color: dodgerblue;
}

.com .header span {
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.com .main {
  flex: 1;
  overflow: auto;
}

.all-good {
  width: 100%;
  height: 100%;
  display: flex;
}

.all-good .all-list {
  flex: 1;
  overflow: auto;
  border-right: 1px solid #ccc;
  background: #f5f5f5;
}

.all-good .all-list a {
  color: #000;
  line-height: 50px;
  display: block;
  text-align: center;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.all-good .all-list a.active {
  background: #fff;
  color: deepskyblue;
}

.all-good .all-content {
  flex: 3;
  overflow: auto;
}

.all-good .all-content a {
  color: #000;
}

.all-good .all-content .item {
  display: flex;
  padding: 20px 5px;
  position: relative;
}

.all-good .all-content .item .btn {
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  background: #ccc;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
}

.all-good .all-content .item .btn.active {
  background: deepskyblue;
  color: #fff;
}

.all-good .all-content .item img {
  margin-right: 10px;
}

.detail-home {
  width: 100%;
  height: 100%;
}

.detail-home .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #ccc;
}

.detail-home .footer button {
  outline: none;
  height: 100%;
  border: none;
  background: #ccc;
  padding: 0 10px;
  float: right;
}

.detail-home .footer button.active {
  background: deepskyblue;
  color: #fff;
}

.detail-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.detail-item p {
  line-height: 30px;
}

.detail-item img {
  width: 100%;
  height: 200px;
}

.detail-item .collect {
  font-size: 30px;
}

.detail-item .collect.active {
  color: red;
  font-size: 24px;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask .mask-div {
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.mask .mask-div p {
  line-height: 50px;
}

.mask .mask-div div {
  width: 100%;
  display: flex;
}

.mask .mask-div div button {
  width: 80px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: deepskyblue;
  color: #fff;
  padding: 5px 10px;
  margin: 10px;
}

.cart-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-content .cart-list {
  flex: 1;
  overflow: auto;
}

.cart-content .cart-list .loading {
  width: 100%;
  line-height: 200px;
  text-align: center;
}

.cart-content .cart-list .item {
  display: flex;
  padding: 10px;
  align-items: center;
  position: relative;
}

.cart-content .cart-list .item .span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ccc;
  text-align: center;
  line-height: 16px;
  color: #ccc;
}

.cart-content .cart-list .item .span.active {
  background: deepskyblue;
  color: #fff;
}

.cart-content .cart-list .item .cart-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.cart-content .cart-list .item .cart-btn button {
  padding: 3px 10px;
  border: none;
  outline: none;
  border-radius: 7px;
}

.cart-content .cart-list .item .cart-btn span {
  margin: 0 10px;
}

.cart-content .cart-list .item img {
  margin: 0 10px;
}

.cart-content .cart-footer {
  width: 100%;
  height: 50px;
  background: #eee;
  display: flex;
  align-items: center;
}

.cart-content .cart-footer .b-num {
  color: red;
  padding: 0 4px;
}

.cart-content .cart-footer .span {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background: #ccc;
  text-align: center;
  line-height: 16px;
  color: #ccc;
}

.cart-content .cart-footer .span.active {
  background: deepskyblue;
  color: #fff;
}

.cart-content .cart-footer p {
  margin-left: 20px;
}

.tab-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  border-top: 1px solid #ccc;
  background: #f5f5f5;
  position: fixed;
  bottom: 0;
  left: 0;
}

.tab-bar a {
  color: #000;
}

.tab-bar a.active {
  color: darkorange;
}

.swiper-container {
  width: 100%;
  height: 200px;
}

.swiper-container img {
  width: 100%;
}

.collect-main {
  width: 100%;
  height: 100%;
}

.collect-main .item {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.collect-main .item img {
  margin-right: 20px;
}

.loading {
  width: 100%;
  line-height: 200px;
  text-align: center;
}

.my-list {
  width: 100%;
  height: 100%;
}

.my-list li {
  width: 100%;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
