* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
}

.loading {
  width: 100%;
  line-height: 200px;
  text-align: center;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home .header {
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.home .header div {
  display: flex;
}

.home .header div li {
  padding: 20px;
}

.home .home-content {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.home .home-content .side-left {
  flex: 1;
  border-right: 1px solid #ccc;
  overflow: auto;
}

.home .home-content .side-left h2 {
  line-height: 50px;
  background: #eee;
  padding-left: 20px;
}

.home .home-content .side-left a {
  color: #000;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: block;
  line-height: 50px;
  text-align: center;
}

.home .home-content .side-left a.active {
  color: #fff;
  background: deepskyblue;
}

.home .home-content .side-right {
  flex: 5;
}

.home .home-content .side-right .side-right-header {
  width: 100%;
  height: 50px;
  background: #eee;
  padding: 0 20px;
  line-height: 50px;
}

.add {
  width: 96%;
  margin: 10px auto;
  border: 1px solid #ccc;
}

.add li {
  width: 100%;
  border-bottom: 1px solid #eee;
}

.add li .title-content {
  width: 150px;
  display: inline-block;
  text-align: right;
  padding: 15px 10px 15px 0;
  border-right: 1px solid #eee;
}

.add li input {
  margin: 0 10px;
  width: 400px;
  border-radius: 5px;
  line-height: 30px;
  outline: none;
  border: 1px solid #ccc;
}

.add li input[type='file'] {
  border: none;
}

.add li textarea, .add li select {
  margin: 0 10px;
}

.add li button {
  border: none;
  outline: none;
  padding: 5px 30px;
  margin: 5px 10px;
  border-radius: 8px;
}

.table-header {
  width: 100%;
  padding: 20px;
}

table {
  width: 96%;
  border-collapse: collapse;
  margin: 0 auto;
}

table tr {
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid deepskyblue;
  text-align: center;
}

table button {
  border: none;
  outline: none;
  padding: 3px 10px;
  background: #fff;
}
